body {
  font-style: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 10%;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 5rem;
  line-height: 1.5;
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-style: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 24%;
  margin-right: 0;
  transform: rotate(25deg);
  position: absolute;

}

#features {
  padding: 7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  margin: 10px;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.logo {
  margin: 10px 10px 40px 10px;
  width: 15%;
  padding-bottom: 10px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;

  text-align: center;
}


.pricing-column {
  padding: 3% 2%;

}

.scode{
  margin: 4px;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;

}

#footer{
  padding: 7% 15%;
  text-align: center;

}

.lastsym{
  margin: 12px;
}

@media (max-width : 1028px){

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
